@import "../less/bootstrap";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import "primitive.less";
@winheight:`Math.floor($(window).height() / 8)`;

// Hide highlighting visual
sidebar, sidebar * {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    cursor:default;
}

.iscourse {
    text-transform:uppercase;
}

.time {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
    color:#6fa1c7;
    padding-left:25px;
    margin-top:-8px;
    float:left;
}

.commenth{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
    color:#6fa1c7;
    padding-left:70px;
    margin-top: -1px;
}

.title {
    padding-top:25px;
}

.code {
    margin-left:10px;
    margin-top:10px;
    float:left;

}

.comments {
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.time-display {
    margin-top:-20px;
    padding-left:3px;
}

.titlebox {
    background-color:#FFFFFF;
    height:100px;
    margin-top:-21px;
}

.fileselect {
    margin-top:10px;
    margin-left:-133px;
    float:left;
    width:150px;
    background-color:#82DAF5;
}

/* Remove welcome message on very small devices */
@media (max-width: 448px) {
    .welcome {
        display:none;
    }
    login logo {
        font-size:24pt !important;
    }
}

/* Handheld devices (Phones, 974px and below) */
@media (max-width: @screen-sm-max) {

    widget:nth-of-type(2), widget:nth-of-type(3) {
        margin-top:-26px;
    }

    widget-end {
        display:none !important;
    }

    sidebar nav {
        min-height:40px;
    }

    nav-handle {
        display: block;
    }

    panel {
        margin-bottom:20px !important;
        padding:0px !important;
    }

    page {
        padding:2px !important;
    }

    /* Widget Border Radius Fixes
    */

    // WIDGET 1
    widget:nth-of-type(1) panel, 
    widget:nth-of-type(1) panel div[title="heading"] {
        border-radius:4px 4px 0px 0px!important;
    }

    // WIDGET 2
    widget:nth-of-type(2) panel, 
    widget:nth-of-type(2) panel div[title="heading"] {
        border-radius:0px 0px 0px 0px!important;
    }

    // WIDGET 3
    widget:nth-of-type(3) panel {
        border-radius:0px 0px 4px 4px!important;
    }
    widget:nth-of-type(3) panel div[title="heading"] {
        border-radius:0px 0px 0px 0px!important;
    }
}

/* Large devices (tablets, 975px and up) */
@media (min-width: @screen-md-min) {

    nav {
        display: block !important;
    }

    nav-handle {
        display: none;
    }

    widget-container {
        padding-top:15px !important;
        display:-webkit-flex;
        display:flex;
    }
}


/*  HEADER STYLES
 *  @src view/home/_header.php
 */ 

logo {
    font-family:'Patua One', cursive;
    color:white;
}

logo span {
    color:#FFBF00;
}

header {
    overflow: hidden;
    height:40px;
    width:100%;
    line-height:38px;
    background-color:#6fa1c7;
}

header logo {
    font-size:16pt;
    padding-left:15px;
}

header p {
    .p;
    color: white;
    float: right;
    margin:22px 15px 0;
}

header p a {
    color:white;
    padding-left:10px;
}


/*  LOGIN STYLES
 *  @src view/login/_login.php
 */ 

login {
    display:block;
    height:100%;
    width:100%;
    background-color:#6fa1c7;
}

login logo {
    display:table;
    padding:5% 0;
    margin:0 auto;
    font-size:29pt;
}

login form {
    max-width:330px;
    margin:auto;
    padding:30px;
    background:white;
}

login heading {
    .h3;
    display:block;
    margin-top:0px;
    margin-left:-10px;
}

login input[type=email],
login input[type=text],
login input[type=password]{
    .form-control;
    margin: 5px 0;
    background:#eee;
    border-radius: 0;
}

login label {
    .checkbox;
    margin-left:5px;
    border:none;
}

login button {
    .button-size(12px, 0px, 16px, 16px, 4px);
    .btn-primary;
    .btn-block;
    border:none;
    border-radius: 0;
}


/*  WIDGET STYLES
 *  @src view/codereview/_home.php
 */

widget-container, widget-end {
    .make-xs-column(12);
    padding:0;
}

widget-end div {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(4);
    padding:5px 10px 0px 10px;
}

panel-end{
    .panel;
    .panel-primary;
    height:20px;
    margin-top:-20px;
    display:block;
    border: 0;
}
widget {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(4);
    z-index:1;                // Place over widget-end(s).
    padding:5px 10px 0px 10px;
    overflow:hidden;
}

panel{
    .panel;
    .panel-primary;
    margin-bottom:-99999px;
    padding-bottom:99999px;
    display:block;
    border: 0;
}

panel .w-heading {
    .panel-heading;
    .h3;
    margin-top:0px;
    background-color:#6fa1c7;
    display:block;
    color:white;
}

panel .w-heading i {
    padding-right:10px;
    font-size:110%;
}

panel .w-body {
    .panel-body;
    text-align: center;
}

/*  NAV STYLES
 */

sidebar {
    .make-xs-column(12);
    .make-md-column(2);
    .navbar-inverse;
    padding:0;
}

sidebar nav h4 {
    margin:0px;
    padding:12px 0 12px 15px;
    color:white;
}

sidebar nav h4:first-child {
    background:#444;
}

sidebar nav h4:first-child .fa {
    color:#FFF;
}

sidebar nav h4 span {
    padding-left:15px;
}

sidebar nav .fa {
    color:#666;
    font-size:120%;
}

sidebar div {
    width: 100%;
}

sidebar nav p {
    padding-left:30px;
    display:block;
}

sidebar nav .iscourse {
    padding-left:8px !important;
}

sidebar nav p a{
    margin:0;
    color:#cfe6f7;
}

sidebar nav p a:hover {
    color:#8db8d9;
    cursor:pointer;
}

sidebar nav p span {
    width:65px;
    color:#999;
}

sidebar navgroup {
    display: block;
    width: 100%;
    background-color: black;
}

sidebar navgroup div:first-child {
    padding-top:5px;
}

sidebar navgroup div:last-child {
    padding-bottom:5px;
}

sidebar nav-handle {
    width:100%;
    height: 20px;
    text-align: center;
    color:#888;
}

/* CONTENT STYLES
 */

heading {
    padding:0 0 5px;
    margin: 0 0 30px;
}

page {
    background-color: #F2F2F2;
    padding-bottom:~"@{winheight}px";
}

content
{
    .make-xs-column(12);
    .make-sm-column(10);
    .make-md-column(10);
}

heading {
    .make-xs-column(12);
    .make-sm-column(10);
    .make-md-column(10);
}

page {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(10);
}

/* ASSESSMENT */

assessment {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(10);
    .panel;
    .panel-default;
    padding-left:0px;
    padding-right:0px;
    border: none;
}

assessment .a-content {
    .panel-body;
    padding-top:10px;
    padding-bottom:10px;
}

assessment .a-content h4 {
    text-transform:capitalize;
}

assessment .a-content p {
    display:inline;
}

assessment .a-content p:last-child,
assessment .a-footer p:last-child{
    float:right;
}

assessment .a-footer {
    .panel-footer;
    padding-bottom:26px;
}

assessment .a-footer a:last-child {
    padding-left:15px;
}

.formcenter {
    margin:auto;
    position:relative;
    width:auto;
    height:auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #6fa1c7;
    text-decoration: none;
    padding:25px;
    background-color: #dfe8ef;
    line-height: 30px;
}

.formtitle {
    margin:30px 0px; padding:0px;
    text-align:center;
}

h6 {
    font-family: sans-serif;
    line-height: 10px;
    color:#6fa1c7;
    font-size: 15px;
    padding:10px;
    font-weight:600;
}

h7 {
    font-family: sans-serif;
    line-height: 10px;
    color:#eab108;
    font-size: 15px;
    padding:10px;
    font-weight:600;
}

.toolpanel1 {
    width:auto;
    height:auto;
    margin: 5x;
    padding: 20px;
}
.toolpanel2 {
    width:auto;
    height:auto;
    margin: 5x;
    padding: 20px;
}
