body {
    background-color: #FFFFFF;
}

.topbox {
    background-color:#6fa1c7;
    height:85px;
    width:auto;
    position:relative;
}


h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
   font-weight: 300;
    color:#6fa1c7;
     padding-left:180px;
     padding-top:50px;
}



.tablebox {
    padding-left:180px;
    margin:0px auto;
    color:#6fa1c7;
}

table {
    
    border-collapse: collapse;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
   
    
}

td {
    
    height:70px;
    width:500px;
    
}

.navbar {
    position: fixed;
    top: 30px;
    right: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding-right: 100px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    text-decoration: none;
}

li {
    float: left;
    color:white;
    text-decoration: none;
    padding-left: 100px;
    padding-top: 30px;
}

a {

    width: 60px;
    color:white;
    text-decoration: none;
}