/* CSS for all comment system elements */

/* CSS for comment display textarea.trans */

.trans{
	width:inherit;
	font-size:inherit;
	font-family:inherit;
	overflow-y:hidden;
	resize:none;
	background:transparent;
	border:none;
	

}

/* Main div CSS */
.code {
	margin-left:50px;
	padding: 0px 10px 10px;	
	margin-top:10px;
	float:left;
	background-color:#FFFFFF;
	width: 900px;
	height: 550px;
	overflow-y:scroll;

}

/* CSS for code display */
.prettyprint{
	float:left;
	width:580px;
	overflow-x:scroll;
}

/* CSS for comment div */
#coms{
	width:20px;
	float:left;
	margin-top:15px;
	margin-left:3px;
}


/* CSS for buttons that have no comment */


.hcbutton{

	display:block;
	float:left;
	background-image:url('files/small.gif');	
	
}

.hcbutton:hover{

	display:block;
	float:left;
	background-image:url('files/smalladd.gif');	

}

/* CSS for buttons that have comments as viewed by the owner */

.hcbuttonown{
	display:block;
	float:left;
	background-image:url('files/small.gif');	
	
}

.hcbuttonown:hover{
	opacity:0.4;
	display:block;
	float:left;
	background-image:url('files/small.gif');	
	
}

/* CSS for buttons that have comments as viewed by the reviewer */

.hccom{

	display:block;
	float:left;
	background-image:url('files/smallcom.gif');	
	
}

.hccom:hover{

	display:block;
	float:left;
	background-image:url('files/smallcomread.gif');
	
	
}

/* CSS for add/edit form textarea */

#comtext {
	position:relative;
	resize: none;
	overflow-y: auto;
	font-size:10px;
	outline:none;
	width:186px;

}

/* CSS for edit priv buttons */

.editpriv{
	float:right;
	padding-bottom:3px;
	padding-right:4px;
	display:inline;		
}

#editbut{
	background:none;
	margin-right:2px;
	border:none;
	outline: 0;
	background-image:url('files/smalledit.gif');
	width:20px;
	height:20px;
}

#delbut{
	background:none;
	border:none;
	outline: 0;
	background-image:url('files/smalldelete.gif');
	width:20px;
	height:20px;
}

/* CSS for fileselect and links */

.fileselect {
	margin-top:10px;
	float:left;
	width:150px;
	background-color:#82DAF5;
}

.filelinks {
	cursor:pointer;	
}

/* CSS for tabs displayed for file owner */

ul#tabs { 
	list-style-type: none;
	padding: 0 0 0.3em 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,"Lucida Grande", sans-serif; 
}

ul#tabs li {
	display: inline; padding-left:15px; 
}

span.tabSpan { 
	color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; 
}
	
span.tabSpan:hover { 
	background-color: #f1f0ee; 
}

/* CSS for comment box (used in both comment display and add/edit comment display */

.combox{
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	width:200px;
	float:left;
	position:relative;
	background-color:#eee;
	word-wrap: break-word;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
	margin-left:33px;
	
	padding:6px;
	
	font-size:12px;
}

.combox:after {
	content: "";
	position: absolute;
	top: -0.5px;
	left: -15px;
	border-style: solid;
	border-width: 10px 15px 10px 0px;
	border-color: transparent #EEE;
	display: block;
	width: 0px;
	z-index: 1
}




