body {
    background-color: #F2F2F2;
}

.topbox {
    background-color:#6fa1c7;
    height:85px;
    width:auto;
    position:relative;
}

.time {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:#6fa1c7;
	padding-left:25px;
	margin-top:-8px;
	float:left;
}

.commenth{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:#6fa1c7;
	padding-left:70px;
	margin-top: -1px;
}

.title {
	padding-top:25px;
}

.code {
	margin-left:250px;
	padding: 0px 10px 10px;	
	margin-top:10px;
	float:left;
	background-color:#FFFFFF;
	width: 850px;
	height: 550px;
	

}

.comments {
	float:left;
	margin-left:10px;
	margin-top:10px;

}

#comment {
	
	margin-left:10px;
	margin-bottom:10px;
	padding-left:10px;	
	border: solid;

}

#comSec {
	float:left;
	height:300px;
	width:200px;
}

.time-display {
	margin-top:-20px;
	padding-left:3px;
}

.titlebox {
	background-color:#FFFFFF;
	height:100px;
	margin-top:-21px;
}

.fileselect {
	margin-top:10px;
	float:left;
	width:150px;
	background-color:#82DAF5;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
   font-weight: 300;
    color:#6fa1c7;
     padding-left:180px;
     /**padding-top:50px;**/
}



.tablebox {
    padding-left:180px;
    margin:0px auto;
    color:#6fa1c7;
}

table {
    
    border-collapse: collapse;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
   
    
}

td {
    
    height:70px;
    width:500px;
    
}

.navbar {
    position: fixed;
    top: 30px;
    right: 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial,      "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding-right: 100px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    text-decoration: none;
}

li {
    float: left;
    color:white;
    text-decoration: none;
    padding-left: 100px;
    padding-top: 30px;
}

a {

    width: 60px;
    color:white;
    text-decoration: none;
}